@model IEnumerable<EZPayroll.MVC.ViewModels.EmployeesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<br />

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Employees</h3><br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-tools">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <a asp-action="Create" class="btn btn-info form-control text-white">Create Employee</a>
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                    <table id="empTbl" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Employee Profile
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>Commands</th>
                                @*<th>Tasks Commands</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (item.PicArray != null) {
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.PicArray)"
                                             class="rounded-circle"
                                             height="40" width="40"
                                             asp-append-version="true" />}
                                        @item.Name @item.Surname
                                    </td>                                
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" class='btn  btn-success text-white' asp-route-id="@item.TempEmpId">Edit</a> |
                                        <a class='btn btn-danger text-white' onclick="Delete('/Employees/Delete/' + @item.TempEmpId)">Delete</a>|                                    
                                        <a asp-controller="EmployeeHours" class='btn btn-default ' asp-action="Create" asp-route-id="@item.TempEmpId">Capture hours</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script>

    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });
    function loadDataTable() {
        dataTable = $('#empTbl').DataTable({
            "paging": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    }
    function Delete(url) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (!data.success) {
                            toastr.error(data.message);
                        } else {
                            window.location.reload();
                        }
                    }
                });
            }
        });
    }

</script>